* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #383b3d;
    padding: 10px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo-text h1 {
    font-size: 40px;
}

.autores {
    font-size: 14px;
    color: #ecf0f1;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #1abc9c;
}

.nav-link.active-border {
    border-bottom: 3px solid white;
    padding-bottom: 2px;
}

#saludoNavbar {
    color: white;
    font-size: 15px;
    margin: 200px;
    background-color: rgba(67, 67, 94, 0.185);
}